<!-- <div class="wrapper"> -->
  <div class="main-pic-container"></div>
  <div class="text-container">
    <h1>Blurb</h1>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ab numquam est quos nemo iste maiores reprehenderit cumque, dicta, quasi sit voluptatibus! Quae dolorem, laboriosam, cumque facilis minima ipsum illo?</span>
    <span>Numquam nesciunt laudantium nostrum dolore amet, quod, velit repellendus unde, veritatis officia nobis odit rem officiis consectetur ullam soluta sequi obcaecati! Doloribus porro omnis ullam, inventore ab. Sit, eos expedita.</span>
    <span>Blanditiis enim impedit sed illo quod deleniti in quos natus incidunt autem, assumenda nisi quas amet soluta sapiente fugiat obcaecati cupiditate voluptatum, voluptatem fugit omnis. Praesentium inventore non, earum repudiandae.</span></p>
  </div>
<!-- </div> -->