<div class="section group">
  <div class="col span_4_of_12">
    <div class="service">
      Indoor
    </div>
    
  </div>
  <div class="col span_4_of_12">
    <div class="service">
      Outdoor
    </div>
    
  </div>
  <div class="col span_4_of_12">
    <div class="service">
      Pets
      
    </div>
  </div>
  <div class="col span_4_of_12">
    <div class="service">
      Pets
      
    </div>
  </div>
  <div class="col span_4_of_12">
    <div class="service">
      Pets
      
    </div>
  </div>
  <div class="col span_4_of_12">
    <div class="service">
      Pets
      
    </div>
  </div>
</div>