html{
  font-size: large;
  height:100%;
  
}


body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}


/****************************************************
** This is the css for the custom-header directive **
****************************************************/

header {
  display: flex;
  flex-direction: column;
}

header >nav li {
  cursor: pointer;
}

.logo-container {
  width: 100%;
  background-color: white;
  z-index:1000;
  
}
.logo {
  width: 100%;
  min-height: 218px;
  max-height: 218px;
  position: relative;
  cursor: pointer;
}

.navigation-bar {
  position:absolute;
  top: -245px;
  margin:0;
  padding:0;
  display: flex;
  flex-direction: column;
  transition: .7s;
  z-index:3;
  width:100%;
}

.logo-container + nav .navigation-bar.menu-visible {
  top:222px;
}

.navigation-bar > li {
  background-color: rgba(250,250,250,.65);
  text-align: center;
  flex: 1;
  list-style: none;
  padding:15px;
  border-top: 1px solid black;
}

.navigation-bar  li:last-child {
  border-bottom: 1px solid black;
}

.main-pic-container {
  background-image: url('../pics/workshop.jpg');
  background-size: cover;
  background-position: 50% 60%; 
  height:450px;
  width:100%;
}

.ui-view{
  flex:1;
}

/****************************************************
**      This is the styling for the about page     **
****************************************************/

.about-picture {
  height:  720px;
  background-image: url('../pics/caracature.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position:relative;
}
.about-picture:before{
  position: absolute;
  top: 0;
  left:0;
  content:'';
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.6);

}
.blurb {
  margin: 30px;
}


/****************************************************
**    This is the styling for the what-i-do page   **
****************************************************/

/*.service {
  border-top: 1px solid black;
  padding-top:20px;
  padding-bottom:20px;
  background-color: #DDDCDC;
  height: 50px;
  text-align: right;
  margin-top: -4px;
  margin-bottom: -4px;
  position:relative;
}*/

.service {
  border-top: 0;
  padding-top:0px;
  padding-bottom:0px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /*background-image: linear-gradient(to top right, #DDDCDC, white 120%);*/
  background-image: linear-gradient(to top right, rgba(255,255,255,0.1) ,rgba(255,255,255,0.9) 100%);
  background-color: #DDDCDC;
  margin:0 3px;
  height: 85px;
  position:relative;
  text-align: right;
}

.service img {
  display: block;
  position: absolute;
  top:0%;
  left:5%;
  max-height: 100%;
  max-width: 100%;

}



.service h1 {
  position:absolute;
  bottom: 0;
  right: 20px;
}



/****************************************************
**        This is the styling for the footer       **
****************************************************/


footer {
  /*padding-top:20px;*/
  /*padding-bottom:20px;*/
  height:100px;
  width: 100vw;
  background-color: grey;
}

small {
  display: inline-block;
  margin: 45px 0 0 10px;
}

footer svg {
  max-width: 30px;
  float:right;
  margin-right: 8%;
  margin-top: 40px;
}

.facebook-icon:hover {
  fill: #3C5998;
}

.linkdin-icon:hover {
  fill: #1985BD;
}

.email-icon:hover {
  fill: #0a88ff
}


/* Landing Page styling */
.main-pic-container {
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
  width: 100vw;
}


.testimonial {
  text-shadow: 1px 1px 3px black;
  font-family: 'Merienda One', cursive;
  font-size: 1.1em;
  /*margin-top: 50px;*/
  text-align: center;
  color: #fcf4c7;
}
.testimonial:before, .testimonial:after {
  color: #fcf4c7;
  content: open-quote;
  font-size: 2.5em;
  line-height: 0.1em;
  margin-right: 0.25em;
  margin-left: 0.25em;
  vertical-align: -0.4em;
}
.testimonial:after {
  content: close-quote;
}
.author {
  text-align: right;
  font-family: 'Archivo Black', sans-serif;
  font-size: 1.1em;
  color:#E2C847;
  text-shadow: 2px 2px 2px black;
}

.testimonial, .author {
  opacity:0;
  animation: fader 10s infinite;

}

@keyframes fader{
  0% {
    opacity:0;
  }
  30% {
    opacity:1;
  }
  60% {
    opacity:1;
  }
  100% {
    opacity:0;
  }

}





