

/*.pic-caracature img{
  float: left;
  width: 35%;
}*/

html,
body{
  font-size: x-large;
  height:100%;
  
}


body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


/****************************************************
** This is the css for the custom-header directive **
****************************************************/

header {
  display: flex;
  flex-direction: column;
}

.logo-container {
  width: 100%;
  background-color: white;
  z-index:1000;
  
}
.logo {
  width: 100%;
  min-height: 218px;
  max-height: 218px;
  position: relative;
  cursor: pointer;
}

.navigation-bar {
  position:absolute;
  top: -245px;
  margin:0;
  padding:0;
  display: flex;
  flex-direction: column;
  transition: .7s;
  z-index:3;
  width:100%;
}

.logo-container + nav .navigation-bar.menu-visible {
  top:222px;
}

.navigation-bar > li {
  background-color: rgba(250,250,250,.65);
  text-align: center;
  flex: 1;
  list-style: none;
  padding:15px;
  border-top: 1px solid black;
}

.navigation-bar  li:last-child {
  border-bottom: 1px solid black;
}

.main-pic-container {
  background-image: url('../pics/workshop.jpg');
  background-size: cover;
  background-position: 50% 60%; 
  height:450px;
  width:100%;
}

.ui-view{
  flex:1;
/*  display:flex;
  flex-direction:column;*/
}

/****************************************************
**      This is the styling for the about page     **
****************************************************/
.caracature {
  width: 100%;
}

/*.text-container {
  margin:20px;
  padding-bottom: 30px;
}*/


/*.about-container {
  background-image: url('../pics/caracature.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}*/

/*.about-container:before {
   content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0.6;
}*/

   /* .about-container {
      flex:1;
      width:100%;
      position: relative;
      z-index: -3;
      padding: 10px;
    }
     You could use :after - it doesn't really matter 
    .about-container:before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -2;
      background-image: url('../pics/caracature.jpg');
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: cover;
    }
    .about-container:after {
     content: ' ';
     display: block;
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     z-index: -1;
     background-image: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.8) 200%,rgba(255,255,255,0) 300% );
   }*/


/****************************************************
**        This is the styling for the footer       **
****************************************************/

small {
  margin: 20px;
}

footer {
  padding-top:20px;
  padding-bottom:20px;
  height:50px;
  width: 100vw;
  background-color: grey;
}







